.Kpi {
  background-color: #fbfbfb;

  .KpiContainer {
    position: relative;
    margin: 0;
    p {
      text-align: center;
      width: 4rem;
      position: absolute;
      top: 85px;
      left: 100px;

      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
