div.Home {
  display: grid;
  grid-template-areas: 'header header' 'footer main';
  grid-template-columns: 117px auto;
  grid-template-rows: 91px auto;
  height: 100vh;

  main {
    grid-area: main;
    margin: 68px 0 0 109px;
  }

  h1 {
    font-weight: 500;
    font-size: 48px;
    margin: 0;

    span {
      color: red;
    }
  }

  p.congratulation {
    font-weight: 400;
    font-size: 18px;
    margin: 35px 0 0 0;
  }

  .homeKeydataContainer {
    grid-area: keyData;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .HomeContainer{
    display: grid;
    grid-template-areas: 'poids poids poids keyData' 'objectifs radarSection kpi keyData';
    grid-template-columns: 23% 23% 23% auto;

    .Poids{
      grid-area: poids;
      margin: 0 0 3rem 0;
    }

    .RadarSection{
      grid-area: radarSection;
    } 

    .Objectifs{
      grid-area: objectifs;
    }

    .Kpi{
      grid-area: kpi;
    }
  }
}
