div.Home {
  display: grid;
  grid-template-areas: 'header header' 'footer main';
  grid-template-columns: 7rem calc(100vw - 7rem);
  grid-template-rows: 5.5rem auto;
  height: 100vh;

  main {
    grid-area: main;
    margin: 4rem 0 0 6rem;
  }

  h1 {
    font-weight: 500;
    font-size: 48px;
    margin: 0;

    span {
      color: red;
    }
  }

  p.congratulation {
    font-weight: 400;
    font-size: 18px;
    margin: 2rem 0 3rem 0;
  }

  .homeKeydataContainer {
    grid-area: keyData;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .HomeContainer {
    display: grid;
    grid-template-areas: 'poids keyData' 'subContainer keyData';
    grid-template-columns: 65% 35%;

    .Poids {
      grid-area: poids;
      margin: 0 0 3rem 0;
    }

    .HomeSubContainer {
      grid-area: subContainer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1439px) {
  div.Home {
    .HomeContainer {
      grid-template-areas: 'keyData' 'poids' 'subContainer';
      grid-template-columns: 95%;

      .Poids {
        margin: 3rem 0 3rem 0;
      }
    }
    .homeKeydataContainer {
      flex-flow: row nowrap;
    }
    main {
      margin: 4rem 0 0 2.5rem;
      // padding-left: ;
    }
  }
}
