.RadarSection {
  width: 258px;
  height: 263px;
  background-color: #282d30;
  border-radius: 5px;

  .responsiveRadar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1439px) {
  .RadarSection {
    width: 200px;
    height: 225px;
  }
}
